.cripto{
    border: 1px solid skyblue;
    border-radius: 5px;
    border-left: 15px solid skyblue;
    padding: 1rem;
}

.info{
    color: rgba(128, 123, 123, 0.384);
}
.label{
    color: skyblue;
}
.positivo{
    color: greenyellow;
}

.negativo{
    
    color: red;
}
.decore{
    text-decoration: none;
}